<article class="message">
  <% if (locals.id) { %>
    <a href="/message/<%= locals.id %>">
  <% } %>
    <div class="message-header">
      <p class="message-author"><%= author || 'Anonymous' %></p>
      <p class="message-date"><%= date.toLocaleString() %></p>
    </div>
    <p class="message-text"><%= text %></p>
  <% if (locals.id) { %>
    </a>
  <% } %>
</article>
