/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  font-size: 1em;
}

button {
  cursor: pointer;
}

textarea {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Colors */
html {
  --black: #000;
  --dark-gray-15: #080808;
  --dark-gray-11: #282828;
  --gray: #888;
  --light-gray-4: #aaa;
  --white: #fff;

  --pale-light-red: #f88;
  --pale-blue: #0077ff;
  --pale-light-blue: #a4cefe;
  --pale-light-purple: #d8b8ff;

  --color-app-bg: var(--dark-gray-15);
  --color-text: var(--white);
  --color-link: var(--pale-light-blue);
  --color-link-visited: var(--pale-light-purple);
  --color-input-bg: var(--dark-gray-11);
  --color-input-text: var(--white);
  --color-button-bg: var(--pale-blue);
  --color-button-text: var(--white);
  --color-error: var(--pale-light-red);

  --color-message-bg: var(--dark-gray-11);
  --color-message-date: var(--light-gray-4);
}

/* App */
body {
  background-color: var(--color-app-bg);
  color: var(--color-text);
  min-height: 100vh;
  padding: 1rem 2rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

input,
textarea {
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
}

button {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
}

.message-board {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.message {
  background-color: var(--color-message-bg);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.message-author {
  font-size: 1.125em;
  font-weight: bold;
}

.message-date {
  color: var(--color-message-date);
  font-family: monospace;
  font-style: italic;
}

.message-text {
  max-width: 55ch;
}

.message-form > * {
  display: block;
}

.message-form > label {
  margin-bottom: 0.25rem;
}

.message-form > :is(input, textarea) {
  margin-bottom: 1rem;
}

.message-name-input,
.message-text-input {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.submit-message-button {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}
