<%- include('../partials/layout-start', { title }); %>

<main>
  <h1><%= title %></h1>
  <section class="message-board">
    <% for (const message of messages) {%>
      <%- include('../components/message', { ...message }); %>
    <% } %>
  </section>
</main>

<%- include('../partials/layout-end'); %>
