<%- include('../partials/layout-start', { title }); %>

<main>
  <h1 class="page-title"><%= title %></h1>
  <section class="message-board">
    <% for (const [id, message] of Object.entries(messages)) {%>
      <%- include('../partials/message', { id, ...message }); %>
    <% } %>
    <a href="/new" class="button">Post a message</a>
  </section>
</main>

<%- include('../partials/layout-end'); %>
