<%- include('../partials/layout-start', { title }); %>

<main>
  <h1 class="page-title"><%= title %></h1>
  <section>
    <%- include('../partials/message', { ...message }); %>
  </section>
  <a href="/" class="button message-board-link">Go to message board</a>
</main>

<%- include('../partials/layout-end'); %>
