<%- include('../partials/layout-start', { isMessageBoardPage: true }) %>

<div class="message-board">
<% for (const [id, message] of Object.entries(messages)) {%>
  <%- include('../partials/message', { id, message }) %>
<% } %>
</div>
<a href="/new" class="button inline-block margin-top">Post a message</a>

<%- include('../partials/layout-end') %>
