<%- include('../partials/layout-start', { isMessageBoardPage: true }) %>

<div data-scroll-to-bottom class="message-board">
  <% messages.forEach(message => { %>
    <%- include('../partials/message', { message }) %>
  <% }); %>
</div>
<a href="/new-message" class="button inline-block margin-top">Post a message</a>

<script>
  document.querySelectorAll('[data-scroll-to-bottom]').forEach(element =>
    element.scrollTop = element.scrollHeight
  );
</script>

<%- include('../partials/layout-end') %>
