<%- include('../partials/layout-start') %>

<form action="/new" method="post" class="new-message-form">
  <label for="message-name-input">Display name</label>
  <input
    id="message-name-input"
    type="text"
    name="author"
    class="message-name-input"
  />
  <label for="message-content-input">Message</label>
  <textarea
    id="message-content-input"
    name="content"
    class="message-content-input"
    required
  ></textarea>
  <div class="new-message-form-buttons">
    <a href="/" class="button cancel-button">Cancel</a>
    <button type="submit">Post</button>
  </div>
</form>

<%- include('../partials/layout-end') %>
