<%- include('../partials/layout-start') %>

<div class="centered-column">
  <p>You have stumbled upon an invalid URL.</p>
  <a href="/" class="button inline-block margin-top">Go to message board</a>
</div>

<%- include('../partials/layout-end') %>
