<%- include('../partials/layout-start', { title }); %>

<main>
  <h1 class="page-title"><%= title %></h1>
  <section>
    <p>You have stumbled upon an invalid URL.</p>
    <a href="/" class="button message-board-link">Go to message board</a>
  </section>
</main>

<%- include('../partials/layout-end'); %>
