<%- include('../partials/layout-start') %>

<p>You have stumbled upon an invalid URL.</p>
<a href="/" class="button inline-block margin-top">Go to message board</a>

<%- include('../partials/layout-end') %>
