<%- include('../partials/layout-start') %>

<p>You have stumbled upon an invalid URL.</p>
<a href="/" class="button inline-block message-board-link">
  Go to message board
</a>

<%- include('../partials/layout-end') %>
